{
    "presets": [["env", { "modules": false }]],
    "plugins": [
        ["transform-inline-environment-variables", { "include": ["NODE_ENV"] }],
        [
            "babel-plugin-inferno",
            {
                "imports": true
            }
        ]
    ]
}
