{
    "presets": [["env", { "modules": false }], "react"],
    "plugins": [
        ["styled-components", { "displayName": true }],
        ["transform-inline-environment-variables", { "include": ["NODE_ENV"] }],
        "transform-runtime"
    ]
}
