{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2018
    },
    "plugins": [
        "@typescript-eslint",
        "prettier",
        "react"
    ],
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "prettier",
        "prettier/@typescript-eslint",
        "plugin:react/recommended"
    ],
    "settings": {
        "react": {
            "createClass": "createReactClass",
            "pragma": "React",
            "version": "detect"
        }
    },
    "rules": {
        "prettier/prettier": "error",
        "eqeqeq": [
            "error",
            "smart"
        ],
        "semi": ["error", "never"],
        "guard-for-in": "error",
        "no-alert": "error",
        "no-eq-null": "off",
        "no-var": "error",
        "no-sequences": "error",
        "no-eval": "error",
        "no-extend-native": "error",
        "no-useless-rename": "error",
        "no-multi-assign": "error",
        "no-multi-spaces": "error",
        "no-unexpected-multiline": "error",
        "no-inner-declarations": "off",
        "no-console": "off",
        "@typescript-eslint/no-unused-vars": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/no-namespace": "off",
        "@typescript-eslint/class-name-casing": "off",
        "@typescript-eslint/no-empty-interface": "off",
        "@typescript-eslint/no-use-before-define": [
            "error",
            {
                "functions": false,
                "classes": false
            }
        ],
        "@typescript-eslint/no-non-null-assertion": "warn",
        "@typescript-eslint/explicit-member-accessibility": "off",
        "@typescript-eslint/camelcase": "off",
        "@typescript-eslint/no-parameter-properties": "off",
        "@typescript-eslint/array-type": [
            "error",
            "generic"
        ],
        "@typescript-eslint/no-inferrable-types"
    }
}