@import "./theme.scss";

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box !important;

    ** {
        margin: 0;
        padding: 0;
        border: 0;
        outline: none;
        box-sizing: inherit;
    }
}

.bottomLeft {
    position: absolute;
    left: 0.5rem;
    bottom: 0.5rem;
}

.bottomRight {
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
}

.appContainer {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: $fonts-normal;
}

.layersViewContainer {
    width: 14rem;
    z-index: 1;

    > :not(:first-child)::before {
        display: block;
        height: 1rem;
        content: " ";
    }
}

.canvas {
    cursor: crosshair;
    z-index: 0;
}
