@import "../theme.scss";

@mixin surfaceLook {
    background-color: $color-surface;
    color: $color-onSurface;
    box-shadow: $shadows-surface;
    pointer-events: all;
}

.surfaceLook {
    @include surfaceLook;
}

.surface {
    @include surfaceLook;
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    user-select: none;
}
