@import "../theme/theme.scss";

.layersWrapper {
    height: 100%;
}

.layersListWrapper {
    padding: 0.5rem 0.25rem;

    & > :not(:first-child) {
        margin-top: 0.25rem;
    }
}

.layersControlsWrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 100%;
}

.unselectedLayerWrapper {
    cursor: pointer;
    border: 1px solid transparent;

    &:hover {
        border: 1px solid $color-secondaryDark;
    }
}

.selectedLayerWrapper {
    border: 1px solid $color-secondary;
}

.layerLeft {
    height: 3rem;
    width: 3rem;
    margin-right: 0.5rem;
    background-color: #789;
}

.layerRight {
    display: flex;
    flex-direction: column;
    margin-right: 0.5rem;
}

.layerName {
    font-size: 1rem;
}

.layerOpacity {
    font-size: 0.75rem;
}
