@import "../../theme.scss";

.container {
    color: inherit;
    margin: 0.5rem 0;
    width: 100%;
}

.label {
    color: inherit;
    margin-bottom: 0.25rem;
    font-size: 0.875rem;
}

.content {
    width: 100%;
}

.textContainer {
    display: flex;
    justify-content: space-between;
    color: inherit;
    user-select: none;
}

.value-editor {
    background-color: $color-surface;
    color: $color-onSurface;
}

.title-text {
    font-family: $fonts-normal;
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
}
