@import "../theme/theme.scss";

@mixin common {
    font-size: 1rem;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    border: 0;
    border-radius: 0.25rem;
    padding: 0.5rem;
    height: 2.25rem;
    width: 100%;
    min-width: 4rem;
    transition: all 150ms;
    line-height: 1.4em;
    box-shadow: $shadows-button;
}

.primary {
    @include common;
    background-color: $color-primary;
    color: $color-onPrimary;

    &:hover {
        background-color: $color-primaryLight;
    }

    &:active {
        background-color: $color-primaryDark;
    }
}

.ddefault {
    @include common;
    background-color: $color-secondary;
    color: $color-onSecondary;

    &:hover {
        background-color: $color-secondaryLight;
    }

    &:active {
        background-color: $color-secondaryDark;
    }
}

.sinkableUnsunk {
    background-color: rgba(0, 0, 0, 0);
    padding: 12px 16px;
    border: 0;
    border-bottom: 2px solid transparent;
    transition: background-color 0.15s;

    &:hover {
        background-color: rgba(0, 0, 0, 0.15);
    }
}

.sinkableSunk {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2));
    padding: 12px 16px;
    border: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}
