.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.cicleThumb {
    z-index: 100;
    position: absolute;
    width: 1rem;
    height: 0.5rem;
    margin-left: calc(-0.5rem - 0.05rem);
    margin-top: calc(-0.25rem - 0.05rem);
    border-width: 0.1rem;
    border-style: solid;
}

.areaThumb {
    z-index: 100;
    position: absolute;
    width: 0.75rem;
    height: 0.75rem;
    margin-left: calc(-0.375rem - 0.05rem);
    margin-top: calc(-0.375rem - 0.05rem);
    border-width: 0.1rem;
    border-style: solid;
    border-radius: 0.375rem;
}
