@import "../theme/theme.scss";

.xswitch {
    cursor: pointer;
    display: inline-flex;
    margin: 0.5rem 0;
}

.switchButtonContainer {
    display: inline-flex;
    position: absolute;
    z-index: 2;
    transition: 150ms transform;
}

.switchButton {
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    z-index: 2;
    transition: 150ms background-color, 150ms transform;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.bgColorPrimary {
    background-color: $color-primary;
}

.bgColorSecondary {
    background-color: $color-secondary;
}

.switchBar {
    background-color: $color-secondaryLight;
    display: block;
    width: 1.75rem;
    height: 0.75rem;
    border-radius: 0.3775rem;
    z-index: 1;
    transition: 150ms background-color, 150ms opacity;
}
