@import "../theme/theme.scss";

.detailsContainer {
    background-color: $color-surface;
    color: $color-onSurface;
    display: flex;
    flex-direction: column;
    width: 12rem;
    padding: 0.5rem 0.75rem;
    height: 100%;
}
